<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo.jpg">
    <link rel="stylesheet" href="../estilos/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>Quienes Somos</title>
</head>
<body class="quienesBody">
  <header>
      <div>
        <img class="logo" src="../images/logo.PNG" alt="logo" />
      </div>
      <nav class="nav_bar">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="productos.html">Productos</a></li>
          <li><a href="quienes_somos.html">Quienes Somos</a></li>
          <li><a href="contacto.html">Contacto</a></li>
        </ul>
        <input
          type="search"
          name="searchProduct"
          placeholder="Busca tu producto favorito"
          id="product"
        />
      </nav>
      <div class="carrito">
        <a href="carrito.html" target="_blank">Carrito de Compras</a>
        <img src="../images/carrito.png" alt="ver_carrito" />
      </div>
  </header>
  <main class="mainQs">
    <h1>Quienes Somos</h1>
    </div>
    <div class="empresa">
      <h1>Nuestra Historia</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, molestias ipsam. Quia ducimus nesciunt minus at officia dolorem nostrum architecto natus molestias, temporibus illo unde facilis officiis? Quia, fugit accusantium. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam autem voluptatum sed minima ex unde officiis sequi ab, deserunt assumenda sit, iure voluptate obcaecati, beatae sint officia? Itaque, ipsa molestias?</p>
      <h1>Nuestro Objetivo</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, molestias ipsam. Quia ducimus nesciunt minus at officia dolorem nostrum architecto natus molestias, temporibus illo unde facilis officiis? Quia, fugit accusantium. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam autem voluptatum sed minima ex unde officiis sequi ab, deserunt assumenda sit, iure voluptate obcaecati, beatae sint officia? Itaque, ipsa molestias?</p>
    </div>
    <div class="founder">
      <h2>Fundador</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum soluta natus, adipisci obcaecati quidem quod! Inventore, laboriosam ipsa! Aperiam ipsum maxime voluptatum sapiente enim minima ad similique sed culpa molestias.</p>
      <img src="../images/cto.jpg" width="200px" alt="">
    </div>
  </main>
  <footer>
    <ul class="pie">
      <li>Buscanos en nuestras Redes: 
        <ul class="social">
          <a id="fb" href="https://www.facebook.com/" target="_blank"><li>Facebook</li></a>
          <a id="ig" href="https://www.instagram.com/" target="_blank"><li>Instagram</li></a>
        </ul>
      </li>
    </ul>
  </footer>
</body>
</html>