<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo.jpg">
    <link rel="stylesheet" href="../estilos/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>Carrito de Compras</title>
</head>
<body class="carritoBody">
      <!--Nav Bar -->
    <header>
      <div>
        <img class="logo" src="../images/logo.PNG" alt="logo" />
      </div>
      <!-- Items de Menu -->
      <nav>
        <ul class="navItems">
          <li><a href="index.html">Home</a></li>
          <li><a href="productos.html">Productos</a></li>
          <li><a href="quienes_somos.html">Quienes Somos</a></li>
          <li><a href="contacto.html">Contacto</a></li>
        </ul>
        <input
          type="search"
          name="searchProduct"
          placeholder="Busca tu producto favorito"
          id="product"
        />
      </nav>
      <!-- Carrito de Compras -->
      <div class="carrito">
        <a href="carrito.html" target="_blank">Carrito de Compras</a>
        <img src="../images/carrito.png" alt="ver_carrito" />
      </div>
    </header>
    <main class="carritoMain">
        <div class="title">    
           <h1>Carrito de Compras</h1>
           <h3>Acá vas a ver todos los productos que agregaste al carrito</h3>
        </div>
        <ul class="listOfItems">
           <li>
            <img src="../images/casas.jpg" width="200" alt="casa">
            <p class="productDetail">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi perspiciatis </p>
            <p class="productPrice">CP 4.300.530</p>
           </li>
           <li>
            <img src="../images/moto.jpg" width="200" alt="moto">
            <p class="productDetail">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi perspiciatis </p>
            <p class="productPrice">CP 1.200.210</p>
           </li>
           <li>
            <img src="../images/auto.jpg" width="200" alt="auto">
            <p class="productDetail">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi perspiciatis </p>
            <p class="productPrice">CP 4.300.530</p>
           </li>
        </ul>
        <div class="total">
           <h1>Total Compra: CP 9.801.270</h1>
        </div>
        <div class="pago">
           <h1>Detalle de tu Pago:</h1>
           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis minus facilis est mollitia, accusamus, ratione repellat excepturi at unde aut provident commodi obcaecati optio tenetur laborum, harum quis deserunt odio!</p>
        </div>
    </main>
    <footer>
      <ul class="pie">
        <li>
          Buscanos en nuestras Redes:
          <ul class="social">
            <a href="https://www.facebook.com/" target="_blank"
              ><li>Facebook</li></a
            >
            <a href="https://www.instagram.com/" target="_blank"
              ><li>Instagram</li></a
            >
          </ul>
        </li>
      </ul>
    </footer>
</body>
</html>