<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../images/logo.PNG" />
     <link rel="stylesheet" href="../estilos/estilos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>Productos</title>
  </head>
  <body class="productsBody">
    <header class="headerHome">
      <div class="logoPosition">
        <img class="logo" src="../images/logo.PNG" alt="logo" />
      </div>
      <!-- Items de Menu -->
      <nav class="menuPosition">
        <ul class="navItems">
          <li><a href="index.html">Home</a></li>
          <li><a href="productos.html">Productos</a></li>
          <li><a href="quienes_somos.html">Quienes Somos</a></li>
          <li><a href="contacto.html">Contacto</a></li>
        </ul>
        <input
          type="search"
          name="searchProduct"
          placeholder="Busca tu producto favorito"
          id="product"
        />
      </nav>
      <!-- Carrito de Compras -->
      <div class="carrito">
        <a href="carrito.html" target="_blank">Carrito de Compras</a>
        <img src="../images/carrito.png" alt="ver_carrito" />
      </div>
    </header>
    <main class="productsMain">
      <div class="mainTitle">
        <h1>Lista de Productos Y Marcas</h1>
        <p>
        Nuestros usuarios verificados cargan nuevos productos a nuestro catálogo
        para que siempre puedas adquirir eso que estás buscando pagando como
        quieras.
        </p>
        <div class="info">
        <h3 class="title_text""">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, maiores impedit. Sapiente ex sunt nisi, esse, </h3>
        <h3 class="title_text2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ratione numquam laboriosam facere, aliquam quibusdam, dignissimos sit exercitationem, dicta quasi eligendi porro. </h3>
        </div>
      </div>
      <div class="listProducts">
          <div class="list1">
            <h1 class="title">Inmuebles</h1>
            <div class="casaAmericana">
              <h1>Casa Estilo Americana</h1>
              <img src="../images/casa.jpg" alt="casa" width="200px" />
              <p>$4.300.530 CP</p>
              <button>Add To Cart</button>
            </div>
            <div class="casaPequeña""">
              <h1>Casa Pequeña</h1>
              <iframe
              width="200"
              src="https://www.youtube.com/embed/km8YSiE8JJw"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
              <button>Add To Cart</button>
            </div>
          </div >
          <div class="list2">
            <h1 class="title">Motos</h1>
            <div class="casaAmericana">
              <h1>Benelli 600cc</h1>
              <img src="../images/benelli.PNG" alt="casa" width="200px" />
              <p>$1.200.210 CP</p>
              <button>Add To Cart</button>
            </div>
            <div class="casaPequeña""">
              <h1>Seleccion de Ofertas</h1>
              <iframe width="200" src="https://www.youtube.com/embed/o4IfP3BMEx0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <button>Add To Cart</button>
            </div>
          </div >
          <div class="list3">
            <h1 class="title">Autos</h1>
            <div class="casaAmericana">
              <h1>Lamborghini</h1>
              <img src="../images/auto.jpg" alt="casa" width="200px" />
              <p>$4.300.530 CP</p>
              <button>Add To Cart</button>
            </div>
            <div class="casaPequeña""">
              <h1>DS7 Crossback E-Tense 4x4</h1>
              <iframe width="200" src="https://www.youtube.com/embed/YCd8fZz_UA4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <button>Add To Cart</button>
            </div>
          </div >
      </div>
     <div class="bubbles">
       <div class="coments">
        <h2>Comentarios:</h2>
        <div class="comentBubble">
          <img src="../images/usuario1.PNG" alt="user">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsa a ab vel nulla eum eius, beatae similique excepturi, iusto quo sit aliquam explicabo debitis deleniti obcaecati labore. Error, aliquid!</p>
        </div>
        <div class="comentBubble">
          <img src="../images/usuario1.PNG" alt="user">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsa a ab vel nulla eum eius, beatae similique excepturi, iusto quo sit aliquam explicabo debitis deleniti obcaecati labore. Error, aliquid!</p>
        </div>
        <div class="comentBubble">
          <img src="../images/usuario1.PNG" alt="user">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsa a ab vel nulla eum eius, beatae similique excepturi, iusto quo sit aliquam explicabo debitis deleniti obcaecati labore. Error, aliquid!</p>
        </div>
        <div class="comentBubble">
          <img src="../images/usuario1.PNG" alt="user">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsa a ab vel nulla eum eius, beatae similique excepturi, iusto quo sit aliquam explicabo debitis deleniti obcaecati labore. Error, aliquid!</p>
        </div>
        <div class="comentBubble">
          <img src="../images/usuario1.PNG" alt="user">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsa a ab vel nulla eum eius, beatae similique excepturi, iusto quo sit aliquam explicabo debitis deleniti obcaecati labore. Error, aliquid!</p>
        </div>
        <div class="comentBubble">
          <img src="../images/usuario1.PNG" alt="user">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsa a ab vel nulla eum eius, beatae similique excepturi, iusto quo sit aliquam explicabo debitis deleniti obcaecati labore. Error, aliquid!</p>
        </div>
        <div class="comentBubble">
          <img src="../images/usuario1.PNG" alt="user">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsa a ab vel nulla eum eius, beatae similique excepturi, iusto quo sit aliquam explicabo debitis deleniti obcaecati labore. Error, aliquid!</p>
        </div>
      </div>
      <div class="posts">
        <h2>Publicaciones de Servicios:</h2>
        <div class="comentBubble">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsa a ab vel nulla eum eius, beatae similique excepturi, iusto quo sit aliquam explicabo debitis deleniti obcaecati labore. Error, aliquid!</p>
        </div>
        <div class="comentBubble">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsa a ab vel nulla eum eius, beatae similique excepturi, iusto quo sit aliquam explicabo debitis deleniti obcaecati labore. Error, aliquid!</p>
        </div>
        <div class="comentBubble">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsa a ab vel nulla eum eius, beatae similique excepturi, iusto quo sit aliquam explicabo debitis deleniti obcaecati labore. Error, aliquid!</p>
        </div>
        <div class="comentBubble">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsa a ab vel nulla eum eius, beatae similique excepturi, iusto quo sit aliquam explicabo debitis deleniti obcaecati labore. Error, aliquid!</p>
        </div>
        <div class="comentBubble">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsa a ab vel nulla eum eius, beatae similique excepturi, iusto quo sit aliquam explicabo debitis deleniti obcaecati labore. Error, aliquid!</p>
        </div>
        <div class="comentBubble">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsa a ab vel nulla eum eius, beatae similique excepturi, iusto quo sit aliquam explicabo debitis deleniti obcaecati labore. Error, aliquid!</p>
        </div>
        <div class="comentBubble">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, ipsa a ab vel nulla eum eius, beatae similique excepturi, iusto quo sit aliquam explicabo debitis deleniti obcaecati labore. Error, aliquid!</p>
        </div>
      </div>
     </div>
    </main>
    <footer>
        <ul>
            <li>Buscanos en nuestras Redes: 
                <ul class="social">
                    <a id="fb" href="https://www.facebook.com/" target="_blank"><li>Facebook</li></a>
                    <a id="ig" href="https://www.instagram.com/" target="_blank"><li>Instagram</li></a>
                </ul>
            </li>
        </ul>
    </footer>
  </body>
</html>
